.home-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.home-box {
    padding: 0px;
    border-radius: 20px;
    -webkit-box-shadow: 23px 22px 28px -18px rgba(66, 68, 90, 1);
    -moz-box-shadow: 23px 22px 28px -18px rgba(66, 68, 90, 1);
    box-shadow: 23px 22px 28px -18px #CAF5FE;
    width: 800px;
    background-color: #CAF5FE;
}