<div class="text-dark nav-navbar">
  <nav class="navbar navbar-inverse bg-dark text-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4><i class="fas fa-home "></i></h4>
      </div>
      <div class="navbar-brand text-light">
        <span class="functionality"><b><i class="fas fa-user"></i>Functionality Management</b></span>
      </div>
      <div class="navbar-brand text-light">
        <h4><i class="login" ></i>Login</h4>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>